<article class="hero-card">
    <img src="https://api.opendota.com<%= hero.img %>" alt="Large Img of <%= hero.localized_name %> ">
    <div class="hero-card-body">
        <h3><%= hero.localized_name %></h3>
        <p>Main stat: <%= hero.primary_attr %></p>
        <p><%= hero.attack_type %></p>
    </div>
    </a>
</article>