<ul>
    <li>Run time in minutes: <%= data.runtimeInMinutes %></li>
    <li>Budget in millions: $<%= data.budgetInMillions %></li>
    <li>Money generated in theathers in Millions: $<%= data.boxOfficeRevenueInMillions %></li>
    <li>Award nominations: <%= data.academyAwardNominations %></li>
    <li>Awards won: <%= data.academyAwardWins %></li>
</ul>