<main>
    <% for(let i=0; i < matches.length; i++) {%>
        <article>
            <p> Match duration: <%= Math.floor(matches[i].duration / 60) %>min.</p>   
            <p>Played with: <%= heroName[i] %></p>
            <p class="hero-kills">Kills: <%= matches[i].kills%></p>
            <p class="hero-deaths">Deaths: <%= matches[i].deaths%></p>
            <p class="hero-assists">Assists: <%= matches[i].assists%></p>
        </article>
    <%}%>
</main>