<%- include('../partials/head.ejs') %>

<body class="active">
    <%- include('../partials/header.ejs') %>
     <main >
        <div class="hero-detail <%=hero.primary_attr%>">
            <div>
            <h3><%= hero.localized_name %></h3>
            <p>
            <% hero.roles.forEach(role =>{ %>
            <span><%= role %></span>
            <%})%></p>
            <ul>
                <li>Primary stat: <%= stat %></li>
                <li>HP:<%= hero.base_health %></li>
                <li>MP: <%=hero.base_mana %></li>
                <li>Movement Speed: <%= hero.move_speed %></li>
                <li></li>
            </ul>
        </div>
            <img class="hero-img" src="https://api.opendota.com<%=hero.img%>"
                        alt="Img of <%= hero.localized_name %>">
            <p></p>
            <p></p>
        </div>
    </main> 

    <%- include('../partials/pageend.ejs') %>