<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <p>ETag: "b4b9-z9RlFrgnAe/JZQrjqxg8V+uX0ic"</p>
        <ul>
            <% data.map(hero => { %>
            <li class="hero-card">
                <a href="<%= hero.id %>">
                    <img class="hero-img" src="https://api.opendota.com<%=hero.img%>"
                        alt="Img of <%= hero.localized_name %>">
                    <h3><%= hero.localized_name %></h3>
                    <p>Attack type: <%= hero.attack_type %></p>
                </a>
            </li>
            <% }) %>
        </ul>
    </main>

    <%- include('../partials/pageend.ejs') %>