<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <% data.forEach(hero => { %>
    <a href="<%= hero.id %>"></a>
    <article>
        <img src="https://api.opendota.com<%=hero.icon%>" alt="Icon of <%= hero.localized_name %>">
        <h3><%= hero.localized_name %></h3>
    </article>
    </a>

    <% }) %>
</body>